@model IEnumerable<IcreCreamParlour.Model.DTO.AdminDTO>
@using Microsoft.AspNetCore.Http
@using IcreCreamParlour.Model.Entities
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    Admin admin = new Admin();
    if (Context.Session.GetString("AdminId") == null)
    {
        <script>window.location.href = "Admin/Home/Login";</script>
    }
    else
    {
        int AdminId = int.Parse(Context.Session.GetString("AdminId"));
        DbIcecreamParlourContext _context = new DbIcecreamParlourContext();
        admin = _context.Admins.SingleOrDefault(admin => admin.AdminId == AdminId);
    }

}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table">
                    <div id="dataTableExample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dataTableExample" class="table dataTable no-footer" role="grid" aria-describedby="dataTableExample_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTableExample" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 187.762px;">
                                                @Html.DisplayNameFor(model => model.AdminId)
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTableExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 134.45px;">
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTableExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 134.45px;">
                                                @Html.DisplayNameFor(model => model.Email)
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTableExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 134.45px;">
                                                @Html.DisplayNameFor(model => model.RoleName)
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTableExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 134.45px;">
                                                @Html.DisplayNameFor(model => model.Password)
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTableExample" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 134.45px;">
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>
                                            <th>
                                                Acion
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">
                                                    @Html.DisplayFor(modelItem => item.AdminId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RoleName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Password)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.AdminId" class="btn btn-primary">Edit</a>
                                                    @if (admin.Roles == 1)
                                                    {
                                                        <a asp-action="UnlockAccount" asp-route-id="@item.AdminId" class="btn btn-primary" onclick="return confirm('Mở khóa tài khoản này?')">Unlock</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-primary text-white" onclick="return alert('Bạn không có quyền thực hiện chức năng này.')">Unlock</a>
                                                    }
                                                    @if (admin.Roles == 1)
                                                    {
                                                        <a asp-action="LockAcount" asp-route-id="@item.AdminId" class="btn btn-primary" onclick="return confirm('Khóa tài khoản này?')">Lock</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-primary text-white" onclick="return alert('Bạn không có quyền thực hiện chức năng này.')">Lock</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

